body{
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  background-color: #DCDCDC;
}
/**********MENU*************/
header{
  background-color: #BF5D2C;
  color: white;
  padding-bottom: 5px;
  padding-top: 5px;
  display: flex;
}
.logos{
  display: flex;
  height: 74px;
  margin: auto auto auto 10px;
}
img{
  height: 100%;
}
.logo{
  margin: auto auto auto 10px;
  height: 100%;
}
.logos h2{
  margin: auto auto auto 15px;
  font-weight: normal;
}
.nav{
  padding: 0;
  margin : auto 10px auto auto;
}
.menu {
  display: flex;
}
.menu a {
	text-decoration: none;
  color: white;
}
.menu{
  padding: 0px;
  margin: 0px;
}
.menu li{
  list-style-type: none;
  margin: auto 10px auto auto;

}
.menu li :hover{
  border-bottom: 1px solid white;
}
.atel{
  display: none;
}
#search{
  width: 30%;
  margin: auto 10px auto auto;
}
/********CONTENU***********/

#jolarge{
    max-width: 100%;
    height: auto;
}

#titre{
  text-align: center;
}
#parag{
  background-color: #BF5D2C;
  margin: auto 3% auto 3%;
  text-align: justify;
  color: white;
  padding: 1%;
}
p{
  margin: 0;
}
.blocs{
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
}
.bloc{
  height: 100%;
  text-align: center;
  width: 25%;
  padding-bottom: 5px;
}
.bloc img{
  width: 70%;
  height: auto;
}
.form,.carte{
    width: 50%;
    height: 100%;
}
.carte h2,.form h2,.form input,.form textarea,.form label, #map{
margin: auto 6% 2% 6%;
margin-bottom: 1%;
}
.form input,.form textarea{
display: block;
box-sizing: border-box;
}
.form textarea{
  height: 10vh;
}
iframe{
  width: 88%;
}
#nom, #prenom,#date,#lieu{
  display: inline-block;
  width: 38%;
}
#mail,#ta{
  width: 88%;
}
.form label{
  font-size: 15px;
}
#submit{
  margin: auto 6% auto auto;
}
#map{
  height: 450px;
  width: 88%;
}
/*********FOOTER********/
footer{
  background-color: #BF5D2C;
  color: white;
}
footer p{
  text-align: right;
  margin: 1% 2% auto auto;
}
/********************************* Adaptation pour mobile ***********************************/
@media only screen and (max-width : 480px){
header{
  display: block;
}
.logos{
  padding-top: 3px;
}
.logo,.logos{
  margin: auto;
}
.logos h2{
  display: none;
}
.atel{
  display: inherit;
  margin: auto;
}
.imgtel{
  height: 50%;
  margin: auto;
}
.nav{
  margin: auto;
  display: none;
}
.menu, #search{
  margin: auto;
}
.bloc{
  height: 25%;
  width: 100%;
  margin: auto;
}
.bloc img{
  width: 50%;
}
.form{
    width: 100%;
}
.carte{
    width: 100%;
}
#nom, #prenom,#date,#lieu{
  display: block;
  width: 88%;
}
#submit{
  width: 88%;
}
}
/********************************* Adaptation pour tablettes ***********************************/

@media only screen
and (min-width : 481px)
and (max-width : 1024px)
and (orientation : portrait){
  header{
    display: block;
  }
  .logos{
    padding-top: 3px;
  }
  .logos,.nav,.menu,#search{
    margin: auto;
  }
  .logo{
    margin: auto 2% auto auto;
  }
  .logos h2{
    margin: auto auto auto 2%;
  }
  .bloc{
    height: 50%;
    width: 50%;
  }
  #submit{
    width: 88%;
  }
}
