body{
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}
header{
  height:70px;
  line-height: 70px;
  background-color: #AA4732;
  color: white;
  padding-bottom: 5px;
}
.logo{
  height: 70px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 2%;
  width: 48%;
}
img{
  height: 100%;
  border-radius: 50%;
  border: 1px solid white;
}
a.logo{
  float: left;
  width: 70px;
  display: inline-block;
}
h2{
  margin: 0;
  padding-left: 5%;
  font-weight: normal;
  display: inline-block;
}
.menu {
  display: -webkit-flex;
  display: flex;
  float: right;
}
.menu a {
	text-decoration: none;
  color: white;
}
ul.menu{
  padding: 0px;
  margin: 0px;
}
.nav{
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin-right: 2%;
  float: right;
  width: 48%;
}
.menu li{
  list-style-type: none;
  padding-right: 5px;
}
.menu li :hover{
  border: 1px solid white;
}
